// bower:scss
@import "bower_components/animate-sass/_animate.scss";
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/owl.carousel/src/scss/owl.carousel.scss";
// endbower
$defaultTextColor:    #969597;
$highlightColor:      #333333;
$headColor:           #474648;
$themeColor:          #a21f61;
$lightColor:          #969696;
// Main style
body {
  padding-left: 135px;
  background: #ececec;
  overflow-x: hidden;
}
body.inner-page {
  padding-left: 150px;
  .row {
    margin: 0;
  }
}
@for $index from 1 through 6 {
  h#{$index}{
    color: $headColor;
    text-transform: capitalize;
  }
}
.section-header {
  font-size: 1.2rem;
  margin: 1.2rem 0;
}
.highlight {
  color: $highlightColor;
}
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 270px;
}
.event-details-img .parallax-container {
  height: 100%;
}
.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.parallax-container .parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(0, 0, 0);
  transform: translateX(-50%);
}
.slider {
  position: relative;
}
.view-all {
  width: 90px;
  border: 1px solid #a5a5a5;
  border-radius: 1rem;
  display: inline-block;
  text-align: center;
  padding: 4px 9px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  color: $defaultTextColor;
  transition: 250ms all ease;
  &:hover {
    text-decoration: none;
    border-radius: 0;
    border-color: $black;
    color: $black;
  }
}
.navbar-toggler:not(:disabled):not(.disabled) {
  position: absolute;
  right: 1rem;
  top: 0.9rem;
  border: 1px solid #fff;
  color: $white;
  display: none;
}
.customNav,.customNavMember,.seasonalNav {
  position: absolute;
  top: -7px;
  right: 100px;
  color: $defaultTextColor;
  font-size: 1rem;
  .owl-prev, .owl-next {
    display: inline-block;
    margin: 10px;
    transition: 250ms all ease;
    &:hover {
      cursor: pointer;
      color: $black;
    }
  }
}
iframe {
  margin: 0 auto 1rem;
  width: 100%;
  height: 300px;
  border: 0;
}
.btn-search {
  border-radius: 0;
}
.hide {
  display: none;
}
// overRide
.form-control::placeholder,.form-control {
  color: $defaultTextColor;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $defaultTextColor;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(125, 125, 125, 0.1);
}
.container-box {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
.card {
  border-radius: 0.2rem;
  border: 0;
  // height: 230px;
}
@media (min-width: 1502px) {
  .card {
    height: 280px;
  }
}
.card-body {
  padding: 0.7rem;
}
.btn-get-ticket {
  border-radius: 2rem;
  box-shadow: 0px 5px 7px 0px rgba(187, 50, 54, 0.22);
  background-image: linear-gradient(-32deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
  color: #fff;
  font-size: 1rem;
  padding: 8px 0;
  text-align: center;
  display: inline-block;
  width: 190px;
  transition: 300ms all ease;
  &:hover {
    color: #f1f1f1;
    text-decoration: none;
    background-image: linear-gradient(32deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
  }
}
// Nav style
nav {
  position: fixed;
  left: 0;
  min-height: 100%;
  width: 135px;
  background-image: linear-gradient(-180deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
  padding: 1px;
  .logo-container {
    display: block;
    text-align: center;
    margin: 9px auto 16px;
  }
  a {
    color: #fff;
    transition: 250ms color ease;
    font-size: 0.8rem;
    &:hover {
      color: #ddd;
      text-decoration: none;
    }
  }
  .mainMenu {
    > li {
      padding: 6px 10px;
    }
  }
  li.dropdown-divider {
    padding: 0;
    border-top: 1px solid rgba(255,255,255,0.4);
  }
  li.no-childs {
    padding: 0px 10px;
  }
  .dropdown-element {
    margin-left: 7px;
    li {
      margin: 5px auto 0;
    }
    a {
      color: #ddd;
      font-size: 0.7rem;
      transition: 250ms color ease;
      &:hover {
        color: #eee;
      }
    }
  }
  .haschildren {
    border-left: 1px solid transparent;
    svg {
      margin: -2px 0 0 7px;
      transition: 300ms all ease;
    }
    &[aria-expanded="true"] {
      background-color: rgba(255, 255, 255, 0.09);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
      transition: 300ms all ease-in-out;
      border-left: 1px solid #fff;
      a {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
  .dropdown-bottom {
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 1px;
    text-align: center;
    li {
      padding: 4px 0;
      &.dropdown-divider {
        padding: 0;
      }
      &.user-name {
        padding: 0;
        a {
          font-size: 1.5rem;
          position: relative;
          display: block;
          font-weight: 200;
          line-height: 1.2;
          max-width: 90%;
          margin: auto;
          color: #fff;
          transition: 300ms color ease;
          &:hover {
            color: #ddd;
          }
          span {
            position: absolute;
            right: -5px;
            transform: translate(-50%, -50%);
            top: 50%;
            font-size: 1.2rem;
          }
        }
        h2 {
          font-size: 1.6rem;
          color: #fff;
          font-weight: 300;
          display: inline;
        }
      }
    }
    a {
      color: #ddd;
      font-size: 0.8rem;
      transition: 250ms color ease;
      &:hover {
        color: #eee;
      }
    }
  }
}
#navbarSupportedContent.collapse {
  display: block;
}
.responsive-search-container {
  display: none;
}
// Search container
.search-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(225, 225, 225, 1);
  padding: 15px;
  margin-bottom: 15px;
  .advanced-search {
    text-decoration: underline;
    color: #4a4a4a;
    transition: 300ms all ease;
    font-size: 0.9rem;
    margin: 15px 0 0;
    display: inline-block;
    &:hover {
      text-decoration: none;
      color: #333;
    }
  }
  .social-media {
    text-align: right;
    a {
      font-size: 1.7rem;
      color: $defaultTextColor;
      transition: 300ms color ease;
      &:hover {
        color: #4a4a4a;
      }
    }
  }
}

// Cards
.upcoming,.seasonal-events {
  .card {
    .card-head {
      position: relative;
      .card-badge {
        position: absolute;
        bottom: 1px;
        background-image: linear-gradient(32deg, rgba(162, 31, 97, 1) 0%, rgba(235, 48, 49, 1) 100%);
        padding: 3px 10px;
        left: -6px;
        color: $white;
        font-size: 0.9rem;
        &::before {
          content: "";
          position: absolute;
          display: block;
          border-style: solid;
          border-color: rgba(235, 48, 49, 1) transparent transparent transparent;
          bottom: -7px;
          border-width: 7px 0px 0px 7px;
          left: 0;
        }
        &::after {
          content: "";
          position: absolute;
          border-style: solid;
          border-color: #eb3031 transparent transparent transparent;
          bottom: 0px;
          right: -17px;
          width: 0px;
          height: 0px;
          border-top: 13px solid transparent;
          border-bottom: 14px solid transparent;
          border-left: 14px solid #e0313d;
        }
      }
      .head-content {
        position: absolute;
        padding: 1rem;
        left: 0;
        right: 0;
        text-align: center;
        top: 0;
        h3 {
          font-size: 1.2rem;
          color: $white;
          margin: 0;
          font-weight: 500;
        }
      }
    }
    .event-content {
      text-align: center;
      color: $defaultTextColor;
      font-size: 0.8rem;
      .event-time-location {
        time {
          display: block;
        }
        h4 {
          font-size: 0.7rem;
          color: $defaultTextColor;
          font-weight: normal;
          margin-top: 15px;
          display: inline-block;
          margin-left: 5px;
        }
        text-align: center;
        text-transform: capitalize;
      }
      .get-ticket {
        // position: absolute;
        left: 0;
        right: 0;
        padding: 2rem 0.7rem 0.7rem;
        bottom: 0;
        overflow: hidden;
      }
      .link-container {
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
        bottom: -70px;
        transition: 250ms all ease;
        padding: 1rem;
      }
      svg {
        color: $themeColor;
      }
    }
    &:hover {
      .link-container {
        bottom: 0;
      }
    }
  }
}
.cover-photo {
  .page-and-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
    width: 65%;
    color: #fff;
    h1 {
      color: #fff;
      margin-bottom: 1rem;
    }
    .btn-empty {
      border: 1px solid #fff;
      border-radius: 3rem;
      width: 120px;
      color: #fff;
      margin-top: 1rem;
      transition: 300ms all ease;
      &:hover {
        border-radius: 0;
      }
    }
  }
}
.memberships {
  .card-img-overlay {
    padding: 2rem;
    color: #fff;
    font-size: 1.4rem;
    h5 {
      color: #fff;
      font-size: 1.4rem;
    }
    a {
      bottom: 30px;
      position: absolute;
      right: 30px;
      padding: 5px 10px;
      color: #fff;
      border: 1px solid transparent;
      transition: 300ms all ease-in-out;
      display: inline-block;
      font-size: 1rem;
      &:hover {
        color: #eee;
        border-color: #fff;
        border-width: 3px;
      }
    }
  }
}
.content {
  color: $lightColor;
  font-size: 1.2rem;
  h1 {
    font-size: 3rem;
    margin: 3rem 0 1rem;
  }
  h6 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
  }
  .events-matks {
    margin: 3rem 0 2rem;
    color: $headColor;
    text-align: center;
    font-size: 1rem;
    .col {
      margin-bottom: 0.5rem;
    }
    svg {
      color: $themeColor;
      display: block;
      font-size: 2rem;
      margin: 0px auto 0.8rem;
    }
    span {
      font-size: 0.8rem;
      color: $defaultTextColor;
      display: block;
    }
  }
  .btn-get-ticket {
    display: block;
    margin: 3rem auto;
    font-size: 1.5rem;
    width: 300px;
    padding: 1rem 0;
    font-weight: 200;
  }
}
.event-details-img {
  .smaller-img {
    display: none;
  }
  .social-media-links {
    position: fixed;
    right: 2rem;
    top: 1rem;
    a {
      font-size: 1.5rem;
      color: $white;
      transition: 250ms all ease;
      &:hover {
        color: $defaultTextColor;
      }
    }
  }
}
footer {
  margin: 50px 0 15px;
  p {
    margin: 0;
    color: $defaultTextColor;
    font-size: 0.8rem;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1000px) {
  body, body.inner-page {
    padding: 0;
  }
  nav {
    position: static;
    min-height: auto;
    width: 100%;
    background-image: linear-gradient(-180deg, #a21f61 0%, #eb3031 100%);
    .dropdown-bottom {
      position: static;
      text-align: center;
    }
    .logo-container {
      display: inline-block;
      padding: 0.4rem 1rem 0;
    }
  }
  .navbar-toggler:not(:disabled):not(.disabled) {
    display: block;
  }
  #navbarSupportedContent.collapse {
    display: none;
  }
  #navbarSupportedContent.collapse.show {
    display: block;
  }
  .event-details-img .social-media-links {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .cover-photo {
    margin-top: 1rem;
    font-size: 0.7rem;
    .page-and-desc {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
@media screen and (max-width: 770px) {
  .parallax-container .parallax img.main-banner {
    display: none !important;
  }
  .parallax-container .parallax {
    position: static;
  }
  .event-details-img .parallax-container {
    height: auto;
  }
  .parallax-container .parallax img.small-banner {
    display: block;
    position: static;
    max-width: 100%;
    transform: none;
  }
  .event-details-img {
    padding: 1px;
  }
  .search-container {
    display: none;
  }
  .responsive-search-container {
    display: block;
    padding: 1rem;
  }
  .content {
    h1 {
      font-size: 2rem;
      margin: 1rem 0 1rem;
    }
    .events-matks {
      margin: 3rem 0 2rem;
      color: #474648;
      text-align: center;
      font-size: 0.8rem;
      svg {
        font-size: 1rem;
      }
    }
  }
}
